/* animations */
@keyframes pop {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes reveal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* fonts */
@font-face {
    font-family: 'interstate', Arial, sans-serif;
    src: url('assets/Interstate-Regular.woff') format('woff');
}

/* general styles */
body {
    font-family: interstate, sans-serif;
    transform: translateZ(0);
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* container structure */
#container {
    position: relative;
    background: #333;
    overflow: hidden;
    height: 100%;
}

.frame {
    display: block;
    width: 100%;
    overflow: hidden;
}

/* backgrounds */
.backgrounds{
    overflow: hidden;
    height: 100%;
}

.background{
    transition: transform ease 0.5s;
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.background-artist {
    z-index: 2;
    transform: translateY(0);
}

.background-track {
    z-index: 3;
    transform: translateY(100%);
}

.embed-active .background-artist{
    transform: translateY(-20%)
}
.embed-active .background-track{
    transform: translateY(0)
}

/* labels */
.labels {
    position: absolute;
    left: 20px;
    z-index: 3;
    transition: all ease 0.4s;
}

.labels-artist{
    bottom: 30px;
    opacity: 1;
}
.labels-track{
    top: 30px;
    opacity: 0;
}

.embed-active .labels-artist{
    opacity: 0;
}

.embed-active .labels-track{
    opacity: 1;
}

.label {
    display: block;
}

.label:first-child {
    margin: 0 0 6px 0;
}

.label-track{
    display: none;
}

.label-link {
    background: #110d0a;
    padding: 8px;
    margin: 0;
    font-weight: bold;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    color: white;
    font-size: 26px;
    line-height: 26px;
}
.label-link-minor{
    color: #cccccc;
    font-size: 20px;
    line-height: 20px;
}

/* controls */
.play {
    z-index: 4;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    opacity: 1;
    transition: all ease 0.2s;
}

/* mobile */
@media screen and (max-width: 420px){
    .play{
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
    }
}

.play:hover {
    transform: scale(1.2);
}
.embed-active .play{
    opacity: 0;
    pointer-events: none;
}

/* waveform */
.waveform {
    z-index: 3;
    bottom: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
    transition: transform ease 0.5s;
    transform: translateY(150%);
    text-align: center;
}
.embed-active .waveform{
    transform: translateY(0%);
    /* delayed animation that triggers after other pieces have finished */
    animation: pop ease 0.25s 0.35s;
}

.waveform-inner{
    position: relative;
    display: inline-block;
}

.waveform-label.right {
    right: 0px;
    border-top-left-radius: 2px;
}

.waveform-label {
    padding: 4px;
    color: white;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    background: #191919;
    position: absolute;
    top: 35px;
    font-weight: bold;
    opacity: 0;
}

.waveform-label.left {
    left: 0;
    border-top-right-radius: 2px;
    color: #fb5606;
}
.embed-active .waveform-label{
    /* delayed animation that triggers after other pieces have finished */
    animation: reveal ease 0.3s 0.45s;
    animation-fill-mode: forwards;
}